# Unreal Engine generated / local
/Binaries/
/Intermediate/
/Saved/
/DerivedDataCache/
/Build/

# Visual Studio / Rider / VS Code
.vs/
**/.vs/
.idea/
.vscode/
*.sln
*.slnx
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

# OS
.DS_Store
Thumbs.db
