Source/IronBreach/.vs/IronBreach/v17/Browse.VC.db
.vs/IronBreach/v17/Browse.VC.db
/Saved
/Intermediate
/Saved
/.vs
/.vs
/Intermediate
.vs/IronBreach/v17/.suo
.vs/IronBreach/v17/DocumentLayout.json
/.vs
/.vs
.vs/IronBreach/v17/.suo
/Saved
/.vs/IronBreach/v17
/.vs
/.vs
/Binaries
/Intermediate
IronBreach.sln
IronBreach.slnx
/.vs
